		<div id="footer" class="row">
			
			<div class="col-md-8 col-md-offset-2">
				
				<div class="row">


					<div class="col-md-2">
						<a class="footer-item" href="{{  path('contenido_pagina',{tipo_contenido:'quienes_somos'}) }}">Quienes Somos</a>
					</div>
					<div class="col-md-2">
						<a class="footer-item" href="{{  path('contenido_pagina',{tipo_contenido:'preguntas'}) }}">Preguntas</a>
					</div>
					<div class="col-md-2">
						<a class="footer-item" href="{{  path('contenido_pagina',{tipo_contenido:'politicas'}) }}" >politicas</a>
					</div>
					<div class="col-md-2">
						<a class="footer-item" href="{{  path('contenido_pagina',{tipo_contenido:'comprar'}) }}" >Comprar</a>
					</div>
					<div class="col-md-2">
						<a class="footer-item" href="{{  path('contenido_pagina',{tipo_contenido:'vender'}) }}" >Vender</a>
					</div>
					<div class="col-md-2">
						<a class="footer-item" href="">Blog</a>
					</div>

				</div>
			</div>
		</div>		

		<div id="subfooter" class="row">
			
			<div class="col-md-8 col-md-offset-2">
				
				<div class="row">


					<div class="col-md-12">
						<p  class="texto_rosa" style="text-align:center;font-weight:bold;" >Artsenal Todos los derechos reservados</p>
					</div>


				</div>
			</div>
		</div>