{% extends "SetnetArtsenalBundle:Templates:template.html.twig" %}


{% block contenido %}


<style  type="text/css" >
     
        .art-image-producto{
            display: inline;    
        }
    
        .art-form_image-prod{
            display: inline;    
        }
    
        .art-image-producto{
            width: 120px;
        }
        

        .uploadify-button {
            background-color: transparent;
            border: none;
            padding: 0;
        }
        .uploadify:hover .uploadify-button {
            background-color: transparent;
        }
               
    </style>



    <div class="container-fluid art-center-form"  >
        <p class="lead"  style="font-family: lato_light;" >Bienvenido a nuestra comunidad de vendedores!</p>
        <div class="row-fluid">

            <div  class="span12" >
                <div id="breadCrumb" class="breadCrumb " style="width: 920px;height: 55px;">
                    <ul>                    
                        <li>
                            <a id="tiendaForm" href="{{  path('crear_tienda') }}"  class="showForm " >Nombre de tienda</a>
                        </li>  
                        <li>
                            <a id="articulosForm" href="{{  path('listar_articulos') }}"  class="showForm art-selected-item" >Articulos</a>
                        </li>  
                        <li>
                            <a id="facturacionForm" href="{{  path('crear_facturacion') }}" class="showForm" >Facturacion</a>
                        </li>  
                        <li>
                            <a id="endForm" href="{{  path('crear_finalizar') }}" class="showForm"  >Abre tu tienda</a>
                        </li>                                              
                    </ul>
                </div>
            </div>        
            <div>
                         <div class="row-fluid">
                    <div id="tiendaFormDiv" class="tabForm span12"  >
                        <div class="art-form-holder"  >
                       
                            <a  href="{{  path('mostrar_articulo' , {'id_articulo':  -1 }) }}"  > Agregar producto </a>
                            
                        
                            <div class="row-fluid" >
                            
                            
                          <div class="row-fluid jm-producto-spacing fill">
                            {{  include('SetnetArtsenalBundle:Block:articulos.html.twig'   , {'productos': productos | slice( 0 * 4 , 4  )  } ) }}    
                        </div>

                                
                           
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
 
    
{% endblock contenido %}
    
    
     
{%  block js %}    
    {{  parent() }}
    
    <script  type="text/javascript" >
    
        $(document).ready(function(){
            
            $(".image_preview").hover(function(){
              //  alert("Sandra Merino");
            });
        
        });
    
    </script>
{%  endblock %}    
    
    