{% extends "SetnetArtsenalBundle::layout.sidebar.html.twig" %}

{% block left_contenido %} 
<div  class="contenido-wrapper"  style="margin: 40px 5px 0;" >
	<div class="sidebar-nav">



		<ul class="nav nav-list">
			<li class="nav-header  jm-categoria_titulo "  >Secciones de la tienda tienda</li>
			{%  for nombre ,  subcategoria in  subcategorias %}
			<li  class="jm-categoria-item"  >
				<a href="{{  path('ver_productos_tienda' , {  'subcategoria': subcategoria.id , 'tienda': tienda.id  }) }}">{{  subcategoria.nombre  }}  </a>
			</li>
			{%  endfor  %}
		</ul>


		<ul class="nav nav-list"  style="margin-top: 40px;" >
			<li class="nav-header  jm-categoria_titulo "  >Dueno de la tienda </li>
			
			<li  class="jm-categoria-item"  >
				<a href="#">{{  perfil.nombre  }}  </a>
			</li>
			<li  class="jm-categoria-item"  style="margin-top: 5px;" >
				<a href="#"  style="color:#666666;"   >{{  perfil.ciudad  }}  </a>
			</li>				
		</ul>


		<ul class="nav nav-list"  style="margin-top: 40px;" >
			<li class="nav-header  jm-categoria_titulo "  >Informacion de la tienda </li>
			
			<li  class="jm-categoria-item"  >
				<a href="#">{{  tienda.nombre }}</a>
			</li>				
			<li  class="jm-categoria-item"  >
				<a href="{{   path('ver_politicas' , { 'id_tienda': tienda.id }) }}">Politica</a>
			</li>				
			<li  class="jm-categoria-item"  >
				<a href="#">Ventas</a>
			</li>
			<li  class="jm-categoria-item"  >
				<a href="#">Admiradores</a>
			</li>
			
		</ul>




	</div> 
</div> 
{%   endblock %}






{% block contenido %} 

<div  class="contenido-wrapper " >


	<!-- contenido de banner en el header -->

	<div  class="row-fluid" >
		<div class="span11" >
			<div id="myCarousel" class="carousel slide"  style='border:solid 5px #cccccc;' >
				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="item active">
						<img style="width: 100%;height:300px;" alt="imagen1" src="{{ asset('uploads/tiendas/'  ~ tienda.imagenCabecera  ) }}" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- fin contenido de banner en el header -->


	<div  class="row-fluid" >
		<h2 class="jm_lastest_titulo" style="margin-bottom: 5px;" >Ultimas Articulos</h2>
	</div>




	<div class="row-fluid">
		<div class="span11">
			
			
			<div  id="productos" >

				{% for prod in productos %}

				{% if loop.index0 is divisibleby(4) %}
			</div>
			<div  class="row-fluid jm-producto-spacing fill"  >                            
				{% endif %}
				

				<div class="span3 jm-producto-holder" >
					<a  href="{{  path('detalle_producto' , {'id_producto':  prod.id }) }}" class="art-mostrar" >
						<p>
							<img style="width: 100%;height:200px;" src="{{ asset('uploads/productos/'  ~ prod.imagenes[0] ) }}" />
						</p>
						<div  class="jm-producto-info"  >
							<p class="jm-producto-titulo" >{{  prod.titulo }}</p>
							<div>
								

								<p class="jm-producto-precio" >${{  prod.precio }}</p>
							</div>
						</div>
					</a>
				</div>




				{% if loop.last %}
			</div>
			{% endif %}

			{% endfor %}

		</div>
	</div>
</div> 






</div>

</div>

{% endblock %} 