{% extends "AppShopThemeBundle::template.artsenal.html.twig" %}




{% block contenido %}



    <div class="barra_spacer_3">
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="page-header pagina_header">
                <h2>
                    Mi cesta
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default artsenal-panel ">
                <div class="panel-body">



                    <div class="container-fluid">


                        <div class="row">

                            <div  class="col-md-12 " >

                                <div class="page-header pagina_header">
                                    <h2>
                                        ( {{  productos | length }}  ) Producto(s)
                                    </h2>
                                </div>
                                <div class="barra_border">
                                </div>
                                <br/>



                                {% for producto  in productos  %}

                                    <div class="row">


                                        <div class="col-md-2">
                                            <img  class="img-responsive" src="{{ asset('/uploads/imagenes/productos/'  ~ producto.imagenes[0].url)   | apply_filter('thumbnail') }}" />
                                        </div>
                                        <div class="col-md-3 nombre">
                                            <p class="detalle_titulo" >
                                                {{ producto.nombre }}
                                            </p>
                                        </div>
                                        <div class="col-md-2  cantidad">
                                            <p  class="detalle_bold" >
                                                Cantidad
                                            </p>
                                            <input type="text"  class="detalle_cantidad_valor" style="width:50px;" value="1" />
                                        </div>

                                        <div class="col-md-1 precio ">
                                            <p  class="detalle_bold" >
                                                Precio
                                            </p>
                                            <p  class="detalle_precio_valor" >
                                                ${{  producto.precio }}
                                            </p>
                                        </div>

                                        {% if app.user %}
                                            <div class="col-md-2">
                                                <p  class="detalle_bold" >




                                                    <form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                                        <input type="hidden" name="cmd" value="_xclick">
                                                        <input type="hidden" name="business" value="danielli@artsenal.com.ec">
                                                        <input type="hidden" name="currency_code" value="USD">
                                                        <input type="hidden" name="item_name" value="Pago por compra {{  app.user.username }}">
                                                        <input type="hidden" name="amount" value="{{ producto.precio }}">
                                                        <input type="image" src="http://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
                                                    </form>



                                                </p>
                                            </div>
                                        {% endif %}

                                        <div class="col-md-2">

                                            <p  class="detalle_bold" >
                                                <button type="button" class="btn btn-primary "  onclick="mostrarMensajeModal( '{{ producto.nombre }}' , '{{ producto.tienda.usuario }}' , '{{  producto.id  }}' , this  )" >
                                                    <span class="glyphicon glyphicon-edit"></span> Contactar Artista
                                                </button>
                                            </p>

                                        </div>



                                    </div>


                                    <hr>
                                {% endfor %}


                                <div class="row">

                                    <div class="col-md-3  col-md-offset-8 ">
                                        <a  class="pull-right link_aquamarine" href="{{ path('app_shop_theme_homepage')  }}">  Seguir comprando </a>
                                    </div>


                                </div>


                            </div>


                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modalMensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Contacta al artista del producto</h4>
                </div>
                <div class="modal-body">


                    <form id="enviarMensaje" role="form">
                        <div class="form-group">
                            <label for="asunto">Asunto</label>
                            <input type="text" class="form-control" id="asunto" readonly="readonly" name="asunto" placeholder="Asunto de mensaje">
                        </div>
                        <div class="form-group">
                            <label for="asunto">Mensaje</label>
                            <textarea class="form-control" name="contenido" id="contenido" rows="3"></textarea>
                        </div>
                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary"  onclick="enviarMensaje()"  >Enviar</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}


{% block js  %}


    {{ parent() }}

    <script  type="text/javascript" >


        var _destinatario = "";
        var _producto     = "";


        function mostrarMensajeModal(   nombre_producto   , usuario  , producto ,   elemento  ){

            var nombre_producto   = $(elemento).parent().parent().parent().find('.detalle_titulo').text().trim() ; 
            var cantidad_producto = $(elemento).parent().parent().parent().find('.detalle_cantidad_valor').val(); 
            var precio_producto   = $(elemento).parent().parent().parent().find('.detalle_precio_valor').text().trim(); 

            _producto = producto ; 

            $("#asunto").val("Compra de ("+  cantidad_producto +") " + nombre_producto)  ; 

            _destinatario = usuario ;
            $("#modalMensaje").modal();
            
        }



        function enviarMensaje(){


            var _asunto  = $("#asunto").val();
            var _mensaje = $("#contenido").val();

            var url_request = Routing.generate('crear_mensaje', { destinatario: _destinatario , asunto : _asunto , mensaje: _mensaje , producto : _producto  });

            $.post(
                url_request
                , function( respuesta ){

                    if(respuesta.success){
                        alert("mensaje enviando correctamente");
                        document.forms.enviarMensaje.reset();
                        $("#modalMensaje").modal('hide');
                        location.reload(); 

                    }
                    else{
                        alert("error en el envio del mensaje , favor intentarlo de nuevo en unos momentos")
                    }
                }
                )



        }

    </script>

{% endblock %}