

<div class="page-header pagina_header" style="margin-top: 0px;" >
	<h2>{{  producto.nombre }}</h2>
</div>
<div class="barra_border"></div>



<div>
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">


			{% for imagen in producto.imagenes %}
			<li data-target="#carousel-example-generic" data-slide-to="{{  loop.index }}" {% if loop.first %}class="active"{% endif %} ></li>
			{% endfor %}
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner"   >
			{% for imagen in producto.imagenes %}
			<div class="item carrousel_tiendas {% if loop.first %}active{% endif %}"   
			style=" height: 300px;background-image:url({{   asset( 'uploads/imagenes/' ~ imagen.url  ) }})" >
		</div>

		{% endfor %}


	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>
</div>

<div class="barra_spacer_3"></div>

<div >
	
	<p  class="color_gris_oscuro" >{{  producto.descripcion }}</p>

</div>


<div >
	
	<div class="panel panel-producto-modal">
		<div class="panel-body">
			
			<div class="row">
				<dic class="col-md-4">
					<p  class="texto_aquamarina" style="font-weight:bold;margin-bottom: 0px;" >{{  producto.tienda.nombre }}</p>
					<p  class="texto_gris_oscuro" >visitas</p>
				</dic>	
				<dic class="col-md-3 col-md-offset-3">
					<p  class="texto_gris_oscuro" >{{  producto.cantidad }} disponibles</p>
				</dic>	
				<dic class="col-md-2">
					<p style="color:black;font-size:25px;font-weigth:bolder;" >${{  producto.precio }}</p>
				</dic>	
			</div>
			
			<div class="row">

				<div class="col-sm-offset-6 col-sm-6">
					<button type="submit" class="btn btn-default pull-right btn_aquamarino"  
					onclick="agregar_carrito('{{  path('agregar_producto_cart' , {'id_producto': producto.id , 'cantidad': 1 , 'precio':producto.precio}) }}')" >Agregar en mi cesta</button>
				</div>	
			</div>

		</div>
	</div>

</div>





