
{%   for prod in productos  %}
<div class="span3 " >
    <div  class="jm-producto-holder" >
        
        <a  href="{{  path('detalle_producto' , {'id_producto':  prod.id }) }}" class="art-mostrar" >
            <p>
                <img class="jm-producto-image"  src="{{ asset('uploads/productos/'  ~ prod.imagenes[0].url  ) }}" />
            </p>
            <div  class="jm-producto-info"  >
                <p class="jm-producto-titulo" >{{  prod.titulo }}</p>
                <div>
                    <p class="jm-tienda_artista" >{{ prod.idTienda.nombre }}/</p>
                    <p class="jm-producto-precio" >${{  prod.precio }}</p>
                </div>
            </div>
        </a>
    </div>
</div>

{%   endfor %}