<div class="navbar " style="background-color:#cc3399 ;" >
    <div class="navbar-inner" style="background-color:#cc3399 ;"  >
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand hidden-desktop" href="#">Artsenal</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li ><a href="#">Comprar</a></li>
                    <li><a href="#about">Vender</a></li>
                    <li><a href="#contact">Blog</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>



<div class="row-fluid show-grid art-submenu">
    <div  class="span2" >
        <a   href="{{  path('home') }}" style="padding-left: 40px;" >
            <img style="width: 180px; height: 55px;"  class="art-logo" alt="Logo Artsenal"  src="{{ asset('img/logo.png') }}" />
        </a>
    </div>
    <div  class="span7" >
        <input style="width:85%; " type="text" class="art-input-buscar" placeholder="escribe el nombre de lo que deseas buscar" />
    </div>
    <div  class="span2 art-submenu-iconset" >
        <div  class="row-fluid" >
            <div class="span6 art-icon-set " style="padding-top: 25px;"  >
                <a class="art-cart-link" style="color: black;"  href="{{  path('fos_user_security_login') }}" >Ingresar</a>
            </div>
            <div class="span6 art-icon-set-last"  style="padding-top: 25px;" >
                <div class="dropdown">
                    <a class="art-cart-link" style="color: black; " href="{{ path("registrar_usuario")  }}"  >Registrarse</a>                    
                </div>
            </div>
        </div>
    </div>
    <div  class="span1 art-cart-icon " >
        <a class="art-cart-link" href="{{ path('mostrar_carrito') }}" >Mi Cesta</a>
        <img  src="{{ asset('img/icon_cesta.png') }}" />
    </div>
</div>