{% extends "SetnetArtsenalBundle:Templates:template.html.twig" %}



     {% block navigation %} 
        {% endblock %}

        {% block submenu %}
        {% endblock %}



{% block contenido %}

 

<style  type="text/css" >

     
        .art-image-producto{
            display: inline;    
        }
    
        .art-form_image-prod{
            display: inline;    
        }
    
        .art-image-producto{
            width: 120px;
        }
        

        .uploadify-button {
            background-color: transparent;
            border: none;
            padding: 0;
        }
        .uploadify:hover .uploadify-button {
            background-color: transparent;
        }

        
        
    </style>



    <div class="container-fluid art-center-form"  >

     
        <div class="row-fluid">

            <div  class="span12" >
                <div id="breadCrumb" class="breadCrumb " style="width: 920px;height: 55px;">
                    <ul>                    
                        <li>
                            <a id="tiendaForm" href="#"  class="showForm " >Crea un nuevo producto</a>
                        </li>  
                    </ul>
                </div>
            </div>        
            <div>

                <div class="row-fluid">
                    <div id="articulosFormDiv" class="tabForm span12"    >                                                 
                        <div class="art-form-holder2" >

                            <form    class="form-horizontal" id="formTiendaTarjeta" action="{{ path('crear_editar_producto') }}" method="post" {{ form_enctype(formProducto) }}>
                            
                            
                            
                            <div  class="form_row" >

                                {{ form_label(formProducto.imagenes) }}                                          



                                <div style="position: relative; height: 90px;width: 100%;width: 720px;left: 20px;" >
                                 {% for img in formProducto.imagenes %}
                                        
                                        <div style="float: left;position: relative; height: 85px;width: 120px" >
                                            {%  if  img.vars.value.url is not null  %}
                                                <img  class="image_preview" src="{{ asset('uploads/productos/' ~  img.vars.value.url   )  }}" />
                                            {% else%}
                                                <img  class="image_preview" src="{{ asset('img/foto_producto.jpg' )  }}" />
                                            {% endif %}
                                            
                                            {{ form_widget(img.file , {'attr': {'class': 'art-form_image-prod image_preview image_producto_upload'}}  ) }}                                            
                                        </div>
                                {% endfor %}
                                        <div  style="clear: both;" ></div>
                                            
                                </div>

                                <p  class="art-form-info" style="margin-top: 10px;" >
                                      
                                        Transmite el tamano, forma , textura y color,<br/>
                                        Intenta usar luz natural e incluye un hermoso primer plano
                                    </p>                                           

                                    <div style="clear: both;" ></div> 
                                </div>
                            
                            
                            
                            <div class="art-separador" ></div>
                            
                            
                            
                            
                            
                              <div  class="form_row" >
                                {{ form_label(formProducto.idSubcategoria) }}                                          
                                              <p  class="art-form-info" >Escoja la subcategoria a la que pertencera el producto</p>
                                {{ form_widget(formProducto.idSubcategoria) }}                                          
                                {{ form_errors(formProducto.idSubcategoria) }}                                          
                          
                                    <div style="clear: both;" ></div> 
                            </div>
                              
                            
                              <div>
                                  <br/>
                              </div>

                              
                            
                              <div class="art-separador" ></div>
                             
                              
                              
                              <div>
                                  <br/>
                              </div>

                              
                              
                              
                            <div  class="form_row" >
                                {{ form_label(formProducto.titulo) }}                                          
                                              <p  class="art-form-info" >Los titulos descriptivos son mejores. <br/>Intenta describir tu artivulo como lo haria un cliente</p>
                                {{ form_widget(formProducto.titulo) }}                                          
                                {{ form_errors(formProducto.titulo) }}                                          
                          
                                    <div style="clear: both;" ></div> 
                            </div>

                          
                              <div>
                                  <br/>
                              </div>

                            
                            <div  class="form_row" >
                                {{ form_label(formProducto.descripcion) }}                                          
                                           <p  class="art-form-info" >Trata de responder a las preguntas que los clientes harian respecto a tu producto </p>
                                {{ form_widget(formProducto.descripcion) }}                                          
                                {{ form_errors(formProducto.descripcion) }}                                          
                             
                                    <div style="clear: both;" ></div> 
                            </div>
                              <div>
                                  <br/>
                              </div>

                                   
                              <div class="art-separador" ></div>
                                   <div>
                                  <br/>
                              </div>
                            
                            <div  class="form_row" >
                                {{ form_label(formProducto.cantidad) }}                                          
                                {{ form_widget(formProducto.cantidad , {'attr': {'class': 'half_input'}} ) }}                                          
                                {{ form_errors(formProducto.cantidad) }}                                          
                             
                                    <div style="clear: both;" ></div> 
                            </div>
                              <div>
                                  <br/>
                              </div>

                            
                            <div  class="form_row" >
                                {{ form_label(formProducto.precio) }}                                          
                                {{ form_widget(formProducto.precio , {'attr': {'class': 'half_input'}}  ) }}                                          
                                {{ form_errors(formProducto.precio) }}                                          
                             
                                    <div style="clear: both;" ></div> 
                            </div>
                              
                                   <div>
                                  <br/>
                              </div>
                                   
                              <div class="art-separador" ></div>
                              
                             <input class="art-submit" type="submit" value="Guardar" />
                            
                            {{ form_row(formProducto._token) }} 
                            
                            </form>    
                        </div>


                        </div>
                    </div>

            </div> 
        </div>
    </div>
 
    
{% endblock contenido %}
    
    
     
{%  block js %}    
    {{  parent() }}
    
    <script  type="text/javascript" >
    
        $(document).ready(function(){
            
            $(".image_preview").hover(function(){
              //  alert("Sandra Merino");
            });
        
        });
    
    </script>
{%  endblock %}    
    
    
    
        {% block footer %}
        
        {% endblock %}