  


{%  if prod is not  null  %}
 
<div class="span3 jm-producto-holder" >
    <a  href="{{  path('detalle_producto' , {'id_producto':  prod.id }) }}" class="art-mostrar" >
        <p>
            <img style="width: 100%;height:120px;" src="{{ asset('uploads/productos/'  ~ prod.imagen ) }}" />
        </p>
        <div  class="jm-producto-info"  >
            <p class="jm-producto-titulo" >{{  prod.titulo }}</p>
            <div>
                <p class="jm-tienda_artista" >{{ prod.tienda }}/{{  prod.usuario }}</p>
                <p class="jm-producto-precio" >${{  prod.precio }}</p>
            </div>
        </div>
    </a>
</div>
 
{%  endif  %}