{%  if prod is null  %}

<div class="span3 jm-producto-holder" >
    <a  href="{{  path('crear_editar_producto') }}"  class="art-mostrar" >
        <p>
            <img style="width: 100%;height:120px; " src="{{ asset('uploads/productos/publica.png'  ) }}" />
        </p>
        <div  class="jm-producto-info" style="position: relative;height: 100%;" >
            <p class="jm-producto-titulo" >nombre producto</p>
            <div  >
                <p class="jm-tienda_artista" >artista/tienda</p>
                <p class="jm-producto-precio" >precio</p>
            </div>
        </div>
    </a>
</div>
{%  else %}




<div class="span3 jm-producto-holder" >
    <a  href="{{  path('detalle_producto') }}" class="art-mostrar" >
        <p>
            <img style="width: 100%;height:120px;" src="{{ asset('uploads/productos/'  ~ prod.imagenes[0].url ) }}" />
        </p>
        <div  class="jm-producto-info"  >
            <p class="jm-producto-titulo" >{{  prod.titulo }}</p>
            <div>
                <p class="jm-tienda_artista" >{{ tienda.nombre }}/{{  perfil.nombre }}</p>
                <p class="jm-producto-precio" >${{  prod.precio }}</p>
            </div>
        </div>
    </a>
</div>


{%  endif %}
