


<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header"   style="padding-bottom:0px;" >
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4  id="modal_nombre_producto" class="modal-title">Nombre del producto</h4>
		</div>


		<div class="modal-body">

			<div id="productoCarrousel" class="carousel slide" data-ride="carousel">

				<ol class="carousel-indicators">
					{% for imagen in producto.imagenes %}
					<li data-target="#productoCarrousel" data-slide-to="{{  loop.index0 }}"   {% if loop.first %}  class="active" {% endif %}  ></li>
					{% endfor %}
				</ol>
				<div class="carousel-inner">

					{% for imagen in producto.imagenes %}

					<div class="item    {% if loop.first %}  active {% endif %} ">
						<img class="img-responsive" src="{{ asset('/uploads/imagenes/productos/'  ~ imagen.url)   | apply_filter('producto_slider') }}" alt="">
					</div>

					{% endfor %}

				</div>

				<a class="left carousel-control" href="#productoCarrousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#productoCarrousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div><!-- /.carousel -->

		</div>
		<div class="modal-footer">
			<div >

				<p  class="color_gris_oscuro" >{{  producto.descripcion }}</p>

			</div>


			<div >

			<div class="panel panel-detalle-producto">
					<div class="panel-body">

						<div class="row">
							<dic class="col-md-4">
								<p  class="texto_aquamarina" style="font-weight:bold;margin-bottom: 0px;" >{{  producto.tienda.nombre }}</p>
								<p  class="texto_gris_oscuro" > {{  producto.visitas }}  visitas - {{  producto.favoritos }} favoritos </p>
							</dic>	
							<dic class="col-md-3 col-md-offset-3">
								<p  class="texto_gris_oscuro" >{{  producto.cantidad }} disponibles</p>
							</dic>	
							<dic class="col-md-2">
								<p style="color:black;font-size:25px;font-weigth:bolder;margin-top:-6px;" >${{  producto.precio }}</p>
							</dic>	
						</div>


		
						<div class="row">
	
							<div class="col-sm-6">
								<div class="addthis_native_toolbox"></div>
							</div>	

							<div class="col-sm-6">
								<button type="submit" class="btn-agregar-cesta  btn btn-default pull-right btn_aquamarino"  
								onclick="addtoCart('{{  path('agregar_producto_cart' , {'id_producto': producto.id , 'cantidad': 1 , 'precio':producto.precio}) }}')" >Agregar en mi cesta</button>
							</div>	
						</div>


					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
