<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{% block titulo %}Artsenal{% endblock %}</title>



	{% block css %}


	{% stylesheets 
	'bundles/appshoptheme/css/bootstrap.min.css' 
    'bundles/appshoptheme/css/shop-homepage.css'
    'bundles/appshoptheme/css/estilo.css'
    'bundles/appshoptheme/css/artsenal.css'
    'bundles/appshoptheme/js/bootstrap3-editable/css/bootstrap-editable.css'


    filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}

  {% endblock %}







<body>



  {% if app.user %}
  {% include 'AppShopThemeBundle:Blocks:menu.usuario.html.twig' %}

  {% else %}
  {% include 'AppShopThemeBundle:Blocks:menu.html.twig' %}      

  {% endif %}



  <!-- Page Content -->
  <div class="{{  modo_layout }}   table-container"  style="padding-left: 0px; padding-right: 0px;"  >

    <div class="row table-row ">



      
      <!-- contenido de banner  -->
      <div class="col-sm-1 col-lg-1 col-md-1 table-col col-banner"  style="padding-top:45px;"    >
       {{ render(controller('AppShopThemeBundle:Default:getPublicidad')) }}
     </div>




     <!-- contenido de la pagina -->


     <div class="col-sm-10 col-lg-10 col-md-10 table-col " style="padding-top:45px;   {% block container_div_style %}{% endblock %}" >

      {% block contenido %}
      





      <div class="col-sm-2 col-lg-2 col-md-2"  >

        {{ render(controller('AppShopThemeBundle:Default:getCategorias')) }}


        {{ render(controller('AppShopThemeBundle:Default:getPublicidadBlock')) }}




      </div>




      <div class="col-md-10" style=" border-left: 1px solid  #eeeeee;padding-left:45px;"  >


        {% block banners %}
        
        {{ render(controller('AppShopThemeBundle:Default:getBanners')) }}

        {% endblock %}

        
        



        <div class="row">
          <div class="col-sm-12 col-lg-12 col-md-12  ">

            {% block titulo_contenido %}
            <h3 class="latto">Ultimas Artesanias</h3>    
            {% endblock %}

          </div>
        </div>

        <div id="listaProductos" class="row">


          {% block productos %}

          {% for producto in productos %}
          {% include 'AppShopThemeBundle:Blocks:producto.html.twig' with {'producto': producto }   %}
          {% endfor %}

          {% endblock %}

        </div>


          <div class="row text-center" >
              <button id="btn_paginador" type="button"  class="btn btn-default">Cargar Mas</button>
          </div>



        <br>
        <br>
        <br>
        <br>


      </div>


      {% endblock %}


      {% block footer %}


      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="padding-left: 0px; padding-right: 0px;" >
       {% include 'AppShopThemeBundle:Blocks:footer.html.twig'  %}
     </div>
     {% endblock %}

   </div>

   <div class="col-sm-1 col-lg-1 col-md-1  table-col col-banner"    style="padding-top:45px;"  >
    {{ render(controller('AppShopThemeBundle:Default:getPublicidad')) }}
  </div>

</div>

</div>




{% block modal %}




{% endblock %}






{% block js  %}

{% javascripts 
 '@AppShopThemeBundle/Resources/public/js/jquery-1.11.0.js' 
 '@AppShopThemeBundle/Resources/public/js/bootstrap.min.js' 
 '@AppShopThemeBundle/Resources/public/js/bootstrap3-editable/js/bootstrap-editable.js'
 '@AppShopThemeBundle/Resources/public/js/script.js'
 %}
 <script type="text/javascript" src="{{ asset_url }}"></script>
 {% endjavascripts %}

 
 <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
 <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

 {% endblock %}


</body>

</html>
