<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{% block titulo %}Artsenal{% endblock %}</title>

	<!-- Bootstrap Core CSS -->
	

	{% block css %}


	{% stylesheets 
	'bundles/appshoptheme/css/bootstrap.min.css' 
  'bundles/appshoptheme/css/shop-homepage.css' 
  'bundles/appshoptheme/css/estilo.css' 
  'bundles/appshoptheme/css/artsenal.css' 
  filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}

  {% endblock %}



</head>

{%   set modo_layout = 'container-fluid' %}


<body   {% block body_class %}  class="fondo_trama" {% endblock %}   >
 

{% if app.user %}
  {% include 'AppShopThemeBundle:Blocks:menu.usuario.html.twig' %}

  {% else %}
{% include 'AppShopThemeBundle:Blocks:menu.html.twig' %}      

{% endif %}



<!-- Page Content -->
<div class="{{  modo_layout }}"  style="padding-left:70px; padding-right:70px" >

  <div class="row table-row ">


   <!-- contenido de la pagina -->


   <div class="col-sm-12 col-lg-12 col-md-12  "  >

  {% block contenido %}
      
  


 

    
{% endblock %}

{% block footer %}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="padding-left: 0px; padding-right: 0px;" >
   {% include 'AppShopThemeBundle:Blocks:footer.html.twig'  %}
</div>

{% endblock %}


  
</div>
 

</div>

</div>




{% block login_facebook %}
    
{% endblock %}


{% block js  %}

{% javascripts 
 '@AppShopThemeBundle/Resources/public/js/jquery-1.11.0.js' 
 '@AppShopThemeBundle/Resources/public/js/bootstrap.min.js' 
 '@AppShopThemeBundle/Resources/public/js/script.js' 
 %}
 <script type="text/javascript" src="{{ asset_url }}"></script>
 {% endjavascripts %}

 {% endblock %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-509db8b030e9560b"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

</body>

</html>
