


{% extends "AppShopThemeBundle::template.artsenal.html.twig" %}








{% block contenido %}

<div class="barra_spacer_3"></div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header pagina_header">
            <h2>Mis Mensajes Enviados!</h2>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header pagina_header" style="color:green;" >

            {% for flashMessage in app.session.flashbag.get('message') %}

                <h2  style="color:green;" >  {{ flashMessage }}!</h2>


            {% endfor %}


        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default artsenal-panel artsenal-panel-tab"  style="margin-bottom: 0px; border-bottom-width: 0px;" >
            <div class="container-fluid">
                <div class="row">

                    <div  class="col-md-12" >


                        <div class="row  tab-holder">
                            <div class="col-md-3   pago-tabs  ">
                                <a class="tabs_tienda tabs_pago    " href="{{ path('mis_mensajes') }}">Recibidos</a>
                            </div>

                            <div class="col-md-3   pago-tabs ">
                                <a class="tabs_tienda tabs_pago tabs_tienda_selected " href="{{ path('mis_mensajes_enviados') }}">Enviados </a>

                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default artsenal-panel "style="border-top-width: 0px;" >
            <div class="panel-body">

                <div class="container-fluid">


                    <div  class="col-md-11" >


                        <div id="contenido2" class=" contenido_tabs"    >



                            <div id="contenido4" class="row contenido_tabs"  >


                                {% if mensajes is empty %}

                                    <div class="page-header pagina_header">
                                        <h3  style="text-align: center;" >No has recibido mensajes recientemente</h3>
                                    </div>

                                {% else %}
                                    <br/>
                                    <br/>
                                    <div  class="container-fluid" >
                                        <div class="row">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>De</th>
                                                    <th>Asunto</th>
                                                    <th>enviado</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for mensaje in mensajes  %}
                                                    <tr>
                                                        <td>{{ mensaje.usuarioEnvia }}</td>
                                                        <td >{{ mensaje.titulo }}</td>
                                                        <td>{{ mensaje.createdAt | date('Y-m-d H:m:i') }}</td>
                                                        <td></td>
                                                    </tr>

                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>




                                {% endif %}

                                <div class="barra_spacer_10"></div>
                            </div>


                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>





    {% endblock %}



