{% extends "SetnetArtsenalBundle::layout.html.twig" %}


{% block contenido %}

<style type="text/css" >

    </style>



    <div class="container-fluid art-center-form"  >

        <p class="lead"  style="font-family: lato_light;" >Mi Cesta</p>
        <div class="row-fluid">

            <div  class="span12" >
                <div  class="cart-holder " style="width: 920px;">
                    <div class="row-fluid" >

                        <div  class="span8" >
                            <h4 class="jm-categoria_titulo ">Mis productos</h4>


    {%   for item in cart.items %}
                            <div class="span12 jm-producto-holder" style="padding-bottom: 15px;border-right-width:0px; border-left-width: 0px;  " >

                                <div class="jm-producto-cart-img"   >      
                                    <img style="width:180px;height:120px;"  src="{{ asset( 'uploads/productos/' ~ item.producto.imagenes[0].url  ) }}" />
                                </div>

                                <div  class="jm-producto-cart-info" >
                                    <div  class="jm-producto-info" >
                                        <p class="jm-producto-titulo" >{{  item.producto.titulo  }}</p>
                                        <div>
                                            <p class="jm-tienda_artista" >Tienda/Artista</p>                
                                        </div>
                                        <div>
                                            <p class="jm-tienda_artista" >   <a href="{{ path('eliminar_item' , {id_producto: item.producto.id }) }}">Eliminar</a> </p>                
                                        </div>
                                    </div>
                                </div>


                                <div  class="jm-producto-info-precio" >
                                    <p class="jm-producto-titulo" style="color: black;" >Precio</p>
                                    <p class="jm-producto-precio" style="margin-top: 15px;" >${{item.precio}}</p>
                                </div>

                                <div  class="jm-producto-info-precio" >
                                    <p class="jm-producto-titulo" style="color: black;" >Cantidad</p>
                                    <p class="jm-producto-precio" style="text-align: center;" >
                                        <input type="text" style="width: 30px;" value="{{ item.cantidad  }}" />
                                    </p>
                                </div>

                                <div  style="clear: both;" ></div>
                            </div>

    {%   endfor %}


                        </div>


                        <div  class="span4" >
                            <h4 style="visibility:hidden;"  class="jm-categoria_titulo ">Mis productos</h4>
                            <div  class="jm-pago-holder" >
    
                                <div  class="jm_pago_element" >
                                    <label for="modo_pago" >Forma de pago</label>

                                    <select  name="modo_pago" class="jm_select" id="modo_pago"  >
                                        <option id="visa" >Visa</option>
                                        <option id="master" >MasterCard</option>
                                        <option id="paypal" >PayPal</option>
                                        <option id="amex"  >AmericanExpress</option>
                                    </select>
                                </div>
                                <div  class="jm_pago_element"  >    
                                    <div  style="width: 206px;text-align: center;margin: 0 auto;" >

                                        <p  class="left" >Precio</p>
                                        <p  class="right" >${{  cart.total }}</p>              
                                        <div style="clear: both;" ></div>
                                        <p  class="left" >Envio</p>
                                        <p  class="right" >$5.00</p>              
                                        <div style="clear: both;" ></div>

                                        <div  style="position: relative; border-bottom: 1px solid black; width: 100%;" ></div> 

                                        <p  class="left" style="font-weight: bold; " >Total</p>
                                        <p  class="right" style="font-weight: bold; " >${{  cart.total + 5 }}</p>              

                                        <div style="clear: both;" ></div>

                                        <input type="submit"  onclick="window.location='{{  path('enviar_pedido') }}'" value="Continuar" style="width: 91px;" class="art-submit">

                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>

                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>        

        </div>
    </div>



    {% if despachado %}
    <script  type="text/javascript" >

    alert("pedido registrado")

    </script>
    {% endif %}


{% endblock contenido %}