{% extends "SetnetArtsenalBundle:Vendedor:vendedor.template.html.twig" %}


{% block contenido %}

<style type="text/css" >

        /** estilo general */
        .art-submit{
            color: white; 
            background-image: url("../img/art-boton.png"); 
            border-width: 0px;
            padding: 0px;
            height: 31px;
            width: 91px !important;
        }

        .art-inline-p{
            display: inline;
            margin-left: 60px;
            margin-right: 40px;
        }

        /** form de tienda */
        #formTienda div label{
            display: inline;    
        }

        #formTienda div input{
            margin-left: 10px;
            margin-top: 10px;
            padding-top: 4px;
            width: 500px;
        }

        .showForm{
            font-size: 22px;
            font-weight: normal;
            color: #666666;
            font-family: lato_light;
        }

        
        .art-selected-item , a:hover , a:focus{
            color: #AE2794;
        }
        
        .breadCrumb ul li  {
            margin-top: 15px;     
            padding-left:  30px;
            padding-right: 30px;
        }
        
        .breadCrumb  {
            border-bottom: #AE2794 1px solid ; 
        }

        
        .art-form-holder p , .art-form-holder2 p {
        font-family: lato_light;
        }
        
        .art-form-holder{
            height: 440px; 
            width: 890px;
            position: relative; 
            background-color: white;
            border: 1px solid #DEDEDE; 
            margin-bottom: 80px;
            padding-left: 40px;padding-top: 40px;
        }

        .art-form-holder2{
            width: 890px;
            position: relative; 
            background-color: white;
            border: 1px solid #DEDEDE; 
            margin-bottom: 80px;
            padding-left: 40px;padding-top: 40px;
        }

        
        
        .form_row{
            width: 580px;
        }
        
        .form_row label{
            display: inline;
            font-family: lato_light;
            float: left;
        }
       
        .form_row input{
            float: right;
            font-family: lato_light;
            background-color: #EFEEEF;
            border-radius: 1px 1px 1px 1px; 
            width: 450px;
        }
        
        .form_row textarea{
            border-radius: 1px 1px 1px 1px; 
            font-family: lato_light;
            background-color: #EFEEEF;
            width: 450px;
            float: right;
        }

        .art-separador{
            border-top: 1px solid #DEDEDE; 
            position: relative;
            width: 95%;
            margin-bottom: 12px;
        }

        .art-form-info{
            font-family: lato_light; float: right;width: 460px;
        }
        
        .art-producto-box{        
            background-color: white;
            margin-bottom: 30px;
            border: 1px solid #DEDEDE; 
        }
     
        .art-producto-box img{        
            width: 100%;
        }
     
        .art-producto-box p{        
            margin:10px;
        }
        
        .art-sidebar{
            position: absolute;
           
            background-color: white;
            width: 190px;
        }
        
        .art-banner{
            background-color: white;
            padding-bottom: 40px;
            border: 1px solid #DEDEDE;
        }
        
        .art-banner p {
              margin-top: 10px;
                padding-top: 20px;
                margin-left: 10px;
        }
        
        .art-banner-bottom{
            background-color: #EFEEEF;
            margin-left: 0px !important;
        }

        .art-banner-bottom p {
            margin-left: 10px;
            padding-bottom: 5px;
            padding-top: 10px;
            font-weight: bold;
            color: #409897;
            
        }
        
    </style>


 
    <div class="container-fluid " >
      <div class="row-fluid">

          <div class="span3  "  >
              <div class="sidebar-nav art-sidebar">
                  <ul class="nav nav-list">
                      <li><a href="#">Secciones de Tienda</a></li>
                      <li><a href="#">Agrega secciones a la tienda</a></li>

                  </ul>
                  <ul class="nav nav-list">
                      <li><a href="#">Dueño de la Tienda</a></li>
                      <li><a href="#">Link</a></li>                
                  </ul>
              </div><!--/.well -->
          </div><!--/span-->
        
        
        
        <div class="span7" style="margin-top: 30px; "   >
            <div class="row-fluid" style="margin-bottom: 40px;" >
                <div  >
                    <div class="span12 art-banner">
                        <img src="{{ asset('img/banner_preview.png') }}" />                                                          
                        <p>Agrega el nombre de tu tienda </p>
                    </div> 
                    <div class="span12 art-banner-bottom">
                        <p>Agrega un anuncion a tu tienda </p>
                    </div> 

                </div>

            </div>
                
                 
                <p class="lead"  style="font-family: lato_light;" >Productos destacados</p>
                
                <div class="row-fluid">
                    <div class="span3 art-producto-box">
                        <img src="{{ asset('img/no_producto.jpg') }}" />                                  
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tellus ac cursus commodo.  </p>
                    </div> 

                    <div class="span3 art-producto-box">
                        <img   src="{{ asset('img/no_producto.jpg') }}" />                                  
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tellus ac cursus commodo.  </p>
                    </div> 

                    <div class="span3 art-producto-box">
                        <img   src="{{ asset('img/no_producto.jpg') }}" />                                  
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tellus ac cursus commodo.  </p>
                    </div> 

                    <div class="span3 art-producto-box">
                        <img   src="{{ asset('img/no_producto.jpg') }}" />                                  
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tellus ac cursus commodo.  </p>
                    </div> 

                </div> 
                
                 
                <div class="row-fluid">
                    <div class="span3 art-producto-box">
                        <img src="{{ asset('img/no_producto.jpg') }}" />                                  
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tellus ac cursus commodo.  </p>
                    </div> 

                    <div class="span3 art-producto-box">
                        <img   src="{{ asset('img/no_producto.jpg') }}" />                                  
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tellus ac cursus commodo.  </p>
                    </div> 

                    <div class="span3 art-producto-box">
                        <img   src="{{ asset('img/no_producto.jpg') }}" />                                  
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tellus ac cursus commodo.  </p>
                    </div> 

                    <div class="span3 art-producto-box">
                        <img   src="{{ asset('img/no_producto.jpg') }}" />                                  
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tellus ac cursus commodo.  </p>
                    </div> 

                </div> 
                
                 
                
                
                
           
           
           
        </div><!--/span-->
      </div><!--/row-->
    

{% endblock contenido %}