{% extends 'SetnetArtsenalBundle:Templates:login.html.twig' %}


{% block contenido %}



<div class="container-fluid">

    <div class="row-fluid">

        <div  class="span12" >
            <div  style="position: relative;  padding-top: 40px; text-align: center;margin: 0 auto;width: 990px;  " >
                <p style="font-family: lato_light;" class="lead left">Actualizacion de datos!</p>
                <div id="breadCrumb" class="breadCrumb " style="height:400px;padding-left: 30px;padding-top: 15px;" >

                    <p style="font-family: lato_light;" class="lead text-left">Modifica la informacion de tu cuenta!</p>

                    <form class="form-horizontal"  action="{{ path('configuracion') }}" method="post" {{ form_enctype(form_usuario) }} style="width: 400px;"  >

                         <div class="control-group">
                               <label class="control-label required">Usuario</label>
                                        <div class="controls">
                                               <a> {{  usuario.username }}  </a>
                                            </div>
                                       
                                            
                                        </div>


                                <div class="control-group">
                             {{ form_label(form_usuario.email , null , { 'label_attr': {'class': 'control-label'} }) }}                            
                                        <div class="controls">
                                {{ form_widget(form_usuario.email  ) }}
                                            </div>
                                        </div>



                                        <div class="control-group">
                             {{ form_label(form_usuario.password.first , null , { 'label_attr': {'class': 'control-label'} }) }}                            
                                                <div class="controls">
                                {{ form_widget(form_usuario.password.first  ) }}
                                                    </div>
                                                </div>


                                                <div class="control-group">
                             {{ form_label(form_usuario.password.second , null , { 'label_attr': {'class': 'control-label'} }) }}                            
                                                        <div class="controls">
                                {{ form_widget(form_usuario.password.second  ) }}
                                                            </div>
                                                        </div>
                        
                         {{ form_row (form_usuario._token) }}

                        
                            
                            
                        

                                                        <input class="art-submit pull-right" type="submit" value="Actualizar" />

                                                    </form>


                                                </div>
                                            </div>
                                        </div>        

                                    </div>
                                </div>

{% endblock %}