{% extends 'SetnetArtsenalBundle:Templates:login.html.twig' %}





{% block scriptfb %}
  
<div id="fb-root"   style="display: none;" ></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '265342143608130', // App ID
      channelUrl : 'http://local.artsenal.com.ec/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

  // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
  // for any authentication related change, such as login, logout or session refresh. This means that
  // whenever someone who was previously logged out tries to log in again, the correct case below 
  // will be handled. 
  FB.Event.subscribe('auth.authResponseChange', function(response) {
    // Here we specify what we do with the response anytime this event occurs. 
    if (response.status === 'connected') {
      // The response object is returned with a status field that lets the app know the current
      // login status of the person. In this case, we're handling the situation where they 
      // have logged in to the app.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // In this case, the person is logged into Facebook, but not into the app, so we call
      // FB.login() to prompt them to do so. 
      // In real-life usage, you wouldn't want to immediately prompt someone to login 
      // like this, for two reasons:
      // (1) JavaScript created popup windows are blocked by most browsers unless they 
      // result from direct interaction from people using the app (such as a mouse click)
      // (2) it is a bad experience to be continually prompted to login upon page load.
      FB.login();
    } else {
      // In this case, the person is not logged into Facebook, so we call the login() 
      // function to prompt them to do so. Note that at this stage there is no indication
      // of whether they are logged into the app. If they aren't then they'll see the Login
      // dialog right after they log in to Facebook. 
      // The same caveats as above apply to the FB.login() call here.
      FB.login();
    }
  });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  // Here we run a very simple test of the Graph API after login is successful. 
  // This testAPI() function is only called in those cases. 
  function testAPI() {
    console.log('Conexion completa ');
    FB.api('/me', function(response) {
        $.post( '{{  path('registrar_fb') }}' , response );       
    });
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked.

  Learn more about options for the login button plugin:
  /docs/reference/plugins/login/ -->

<fb:login-button show-faces="true" perms='email, user_photos, user_birthday, user_online_presence' autologoutlink='true' width="200" max-rows="1"></fb:login-button>

{% endblock%}


{% block contenido %}



<div class="container-fluid">

    <div class="row-fluid">

        <div  class="span12" >
            <div  style="position: relative;  padding-top: 40px; text-align: center;margin: 0 auto;width: 990px;  " >
                <p style="font-family: lato_light;" class="lead left">Registrate!</p>
                <div id="breadCrumb" class="breadCrumb " style="height:400px;padding-left: 30px;padding-top: 15px;" >

                    <p style="font-family: lato_light;" class="lead text-left">Crea una cuenta para empezar a usar tu tienda!</p>
                    <div  class="art-fondo-trama" style="position: relative; height: 20px; width: 100%;margin-bottom: 10px;" ></div>

                    <form class="form-horizontal"  action="#" method="post" {{ form_enctype(form_usuario) }} style="width: 400px;"  >

                        <div class="control-group">
                             {{ form_label(form_usuario.username , null , { 'label_attr': {'class': 'control-label pull-left'} }) }}                            
                            <div class="controls">
                                {{ form_widget(form_usuario.username ) }}
                                 {{ form_errors(form_usuario.username  ) }}
                            </div>
                        </div>


                        <div class="control-group">
                             {{ form_label(form_usuario.email , null , { 'label_attr': {'class': 'control-label'} }) }}                            
                            <div class="controls">
                                {{ form_widget(form_usuario.email  ) }}
                                {{ form_errors(form_usuario.email  ) }}
                            </div>
                        </div>



                        <div class="control-group">
                             {{ form_label(form_usuario.password.first , null , { 'label_attr': {'class': 'control-label'} }) }}                            
                            <div class="controls">
                                {{ form_widget(form_usuario.password.first  ) }}
                                {{ form_errors(form_usuario.password.first  ) }}
                            </div>
                        </div>


                        <div class="control-group">
                             {{ form_label(form_usuario.password.second , null , { 'label_attr': {'class': 'control-label'} }) }}                            
                            <div class="controls">
                                {{ form_widget(form_usuario.password.second  ) }}
                                {{ form_errors(form_usuario.password.second  ) }}
                            </div>
                        </div>

                         {{ form_row (form_usuario._token) }}


                        <div>

                            <p style="font-family: lato_light;" class="text-left pull-right">Al registrarse usted confirma que aceptas nuestro terminos y condiciones!</p>

                        </div>




                        <input class="art-submit pull-right" type="submit" value="Registrarse" />

                    </form>


                </div>
            </div>
        </div>        

    </div>
</div>

{% endblock %}