{% extends "SelnetTiendaOnlineBundle::template.html.twig" %}



{% block contenido %}

<div class="barra_spacer_3"></div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="page-header pagina_header">
			<h2>Informacion e imagen!</h2>
		</div>
	</div>
</div>





<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default artsenal-panel "style="border-top-width: 0px;" >
			<div class="panel-body">

				<div class="container-fluid">

					<div id="contenido1" class="row contenido_tabs" >

						<div class="page-header pagina_header">
							<h2>Da forma a tu tienda con la siguiente informacion</h2>
						</div>
						<div class="barra_border"></div>
						<div class="barra_spacer_2"></div>

						<div class="barra_spacer_3"></div>
					</div>



					<div  class="col-md-9" >
						

						<div id="contenido1" class="row contenido_tabs" >



							{% form_theme form 'SelnetTiendaOnlineBundle:FormTemplate:Artsenal.fields.html.twig' %}
							{% form_theme form.file 'SelnetTiendaOnlineBundle:FormTemplate:Artsenal2.fields.html.twig' %}

							<form  action="{{ path('personalizar_tienda') }}"  class="form-horizontal" method="post" role="form"  {{ form_enctype(form) }} >
								

								{{  form_row(  form.file ) }}

								{% if imagenCabecera is not null %}
								<div class="form-group">

								<div class="col-sm-9 col-sm-offset-3 "  >
										<div class="panel panel-default panel-imagen-cabecera">
											<div class="panel-inner-border">

												<div class="panel-body panel-imagen-container" 
												style="background-image:url({{  asset(  'uploads/imagen_tienda/' ~ imagenCabecera   ) }})" >
												<p  style="text-align:center;" >

												</p>
											</div>
										</div>
									</div>

								</div>	
							</div>
							{% endif %}

							<hr/>

							{{  form_row(  form.titulo ) }}
							<hr/>
							{{  form_row(  form.mensaje , {'help_bot':'Este mensaje sera incluido en las paginas de recibo y en los correos que reciban tus clientes cuando compren en tu tienda '} ) }}

							<hr/>
							{{  form_row(  form.anuncio, {'help_bot':'Vista previa de como tus listas apareceran en los resultados de la busqueda de google '} ) }}

							<hr/>

							<div class="form-group">

								<div class="col-sm-9 col-sm-offset-1 "  >



									<button type="submit" class="btn btn-default pull-right btn_aquamarino">Guardar</button>


								</div>	
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-6">

								</div>
							</div>
							{{ form_row(form._token) }} 
						</form>
						<div class="barra_spacer_3"></div>
						<div class="barra_spacer_3"></div>


					</div>


				</div>
			</div>



		</div>
	</div>
</div>

</div>
</div>



{% endblock %}