{% extends 'SetnetArtsenalBundle:Templates:login.html.twig' %}


{% block contenido %}



<div class="container-fluid">

    <div class="row-fluid">

        <div  class="span12" >
            <div  style="position: relative;  padding-top: 40px; text-align: center;margin: 0 auto;width: 990px;  " >
                <p style="font-family: lato_light;" class="lead left">Registrate!</p>
                <div id="breadCrumb" class="breadCrumb " style="height:400px;padding-left: 30px;padding-top: 15px;" >

                    <p style="font-family: lato_light;" class="lead text-left">Crea una cuenta para empezar a usar tu tienda!</p>
                    <div  class="art-fondo-trama" style="position: relative; height: 20px; width: 100%;margin-bottom: 10px;" ></div>

                    <form class="form-horizontal"  action="{{ path('registrar_vendedor') }}" method="post" {{ form_enctype(form_usuario) }} style="width: 400px;"  >

                        <div class="control-group">
                             {{ form_label(form_usuario.usuario , null , { 'label_attr': {'class': 'control-label pull-left'} }) }}                            
                                <div class="controls">
                                {{ form_widget(form_usuario.usuario  ) }}
                                 {{ form_errors(form_usuario.usuario  ) }}
                                    </div>
                                </div>


                                <div class="control-group">
                             {{ form_label(form_usuario.email , null , { 'label_attr': {'class': 'control-label'} }) }}                            
                                        <div class="controls">
                                {{ form_widget(form_usuario.email  ) }}
                                            </div>
                                        </div>



                                        <div class="control-group">
                             {{ form_label(form_usuario.password.first , null , { 'label_attr': {'class': 'control-label'} }) }}                            
                                                <div class="controls">
                                {{ form_widget(form_usuario.password.first  ) }}
                                                    </div>
                                                </div>


                                                <div class="control-group">
                             {{ form_label(form_usuario.password.second , null , { 'label_attr': {'class': 'control-label'} }) }}                            
                                                        <div class="controls">
                                {{ form_widget(form_usuario.password.second  ) }}
                                                            </div>
                                                        </div>
                        
                         {{ form_row (form_usuario._token) }}

                        
                        <div>
                        
                            <p style="font-family: lato_light;" class="text-left pull-right">Al registrarse usted confirma que aceptas nuestro terminos y condiciones!</p>
                        
                        </div>
                            
                            
                        

                                                        <input class="art-submit pull-right" type="submit" value="Registrarse" />

                                                    </form>


                                                </div>
                                            </div>
                                        </div>        

                                    </div>
                                </div>

{% endblock %}